.navbar {
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px !important;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.3);
    max-height: 60px;
    background-color: white;
}

.logo {
    color: black;
    cursor: pointer;
    font-weight: bold;
}

.nav-right {
    padding-top: 10px;
}

@media (max-width: 700px) {
    .logo {
        font-size: 14px;
    }
    .nav-right .nav-input {
        width: 50vw !important;
    }
}

@media (max-width: 500px) {
    .logo {
        font-size: 14px;
    }
    .nav-right .nav-input {
        width: 40vw !important;
    }

    .nav-right .nav-btn {
        font-size: 13px;
    }
}

